{% extends 'base.html' %} {% block content %}
<h6>Showing Jobs for {{user.name}}</h6>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Actions</th>
  </tr>
</thead>
<tbody>
{% for job in jobs %}
  <tr scope="row">
    <td>{{ job.id }}</td>
    <td>{{ job.name }}</td>
    <td>
      <a class="btn btn-primary" href="">Edit</a>
      <a class="btn btn-danger" href="/job/{{user.id}}/{{job.id}}/delete">Delete</a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
   <a href = "{{ url_for('show_job_form', uid=user.id) }}">Add Job</a>


{% endblock %}
