{% extends 'base.html' %} {% block content %}
<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Firstname</th>
    <th scope="col">Lastname</th>
    <th scope="col">Email</th>
    <th scope="col">Birth Year</th>
    <th scope="col">Age</th>
    <th scope="col">Actions</th>
  </tr>
</thead>
<tbody>
{% for user in users %}
  <tr scope="row">
    <td>{{ user.id }}</td>
    <td>{{ user.name }}</td>
    <td>{{ user.surname }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.birth_year }} </td>
    <td>{{user.age|string}}</td>
    <td>
      <a class="btn btn-primary" href="/user/{{user.id}}">Edit</a>
<!--      <a class="btn btn-danger" href="/user/{{user.id}}/delete">Delete</a>-->
      <a class="btn btn-primary" href="{{ url_for('show_user_jobs', user_id=user.id) }}">Jobs</a>
      <a class="btn btn-danger" href = "{{ url_for('show_job_form', uid=user.id) }}">Add Job</a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
   <a href="/user" >Add User</a>


{% endblock %}
