{% extends 'base.html' %}

{% block content %}
<form method="post">
       <label for="title">Name</label>
       <br>
       <input type="text" name="name"
           placeholder="Enter your name">
       </input>
        <input type="text" name="surname"
           placeholder="Enter your surname">
       </input>
       </input>
        <input type="number" name="birth_year"
           placeholder="Enter your birth year">
       </input>

       <br>
       <button type="submit">Submit</button>
   </form>
{% endblock %}