{% extends 'base.html' %} {% block content %}
<table class="table">
  <thead>
  <tr>
    <th scope="col">Firstname</th>
    <th scope="col">Lastname</th>
    <th scope="col">Birth Year</th>
    <th scope="col">Age</th>
  </tr>
</thead>
<tbody>
{% for user in users %}
  <tr scope="row">
    <td>{{ user.name }}</td>
    <td>{{ user.surname }}</td>
    <td>{{ user.birth_year }} </td>
    <td>{{user.age|string}}</td>
  </tr>
{% endfor %}
</tbody>
</table>
   <a href="/fuser" >Add User</a>


{% endblock %}
